body {
    background-color: #2B3034;
}
.container {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container .container2 {
    display: grid;
    justify-content: flex-start;
    text-align: center;
    padding: 10px;
    height: 90vh;
    width: 900px;
    margin-right: 80px;
}
.container2 .slider {
    width: 900px;
    height: 85vh;
    margin: 0 auto;
    overflow: hidden;
}
.slider .slide {
    height: 83vh;
    padding: 6px;
    border-radius: 5px;
    background-color: rgb(65, 65, 65);
}
.slide img {
    height: 80vh;
}
.slider-nav {
    display: flex;
    padding: 4px;
    width: 50px;
    margin-top: 20px;
    margin-left: 410px;
    border-radius: 10px;
    justify-content: center;
    background-color: rgb(65, 65, 65);
}
.slider-nav a {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.active {
    background-color: #ff5733; 
}

.container .container3 {
    width: 400px;
    height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.container3 #Logo2 {
    margin: auto;
    width: 100%;
}
.container3 #Bienvenidos {
    margin-top: 30px;
    margin-right: 130px;
    font-size: 40px;
}
.container3 #loginForm {
    margin: auto;
    padding: 20px;
    width: 330px;
}

.container3 .container4 {
    margin: auto;
    margin-bottom: 140px;
    justify-content: center;
    align-items: center;
}
#Registro {
    color:#ff4f54;
}
#Cuenta {
    color: gray;
}

input[type="submit"] {
    background-color: #ff4f54;
    color: white;
    height: 30px;
    width: 326px;
    border: 5px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="email"], 
input[type="password"] {
    color: white;
    height: 30px;
    width: 326px;
    border: 5px;
    border-radius: 5px;
    background-color: #33393d;
}

input[type="submit"]:hover {
    background-color: #ff4f65;
}
input[type="email"]:hover,
input[type="password"]:hover,
#olvido:hover,
#Registro {
    cursor: pointer;
}

label {
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    margin-left: 10px;
}
h1 {
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 35px;
    margin-left: 40px;
}
button {
    position: absolute; 
    top: 25%;
    left: 306px;
    padding: 8px;
    border: 8px;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
}

.password-container {
    height: 50px;
    position: relative;
    padding: 10px 0;
}
.password-input {
    position: relative;
}

.visiblePassword {
    background-image: url('Ojo_abierto.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#showPassword:not(.visiblePassword) {
    background-image: url('Ojo_cerrado.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#olvido{
    position: absolute;
    font-size: 10px;
    left: 56%;
    top: 0px;
    color: gray;
}
#olvido:hover,
#Registro:hover {
    background-color: rgb(70, 69, 69);
}
#Question {
    padding: 1px;
    border: 1px;
    border-radius: 1px;
    background-color: transparent;
    font-size: 1px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.modal-content {
    background-color: #2B3034;
    margin: 15% auto;
    padding: 20px;
    border: 10px;
    border-radius: 10px;
    width: 50%;
    height: 180px;
}
#Recuperar {
    font-size: 20px;
}
.modal-content #R-enviar {
    width: 150px;
    margin-left: 38%;
}
.close {
    font-size: 40px;
    float: right;
    cursor: pointer;
}
.close:hover {
    color: red;
}

.custom-alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.alert-content {
    background-color: #2B3034;
    color: white;
    padding: 20px;
    margin-bottom: 85vh;
    width: 600px;
    border-radius: 5px;
    text-align: center;
}
